<h1><%= @experience.title %></h1>
<p><%= @experience.description %></p>

<div>
  <%= link_to "Edit this experience", edit_experience_path(@experience) %> |
  <%= link_to "Back to experiences", experiences_path %>

  <%= button_to "Destroy this experience", @experience, method: :delete %>
</div>
